---
version: '2.3'
services:
  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.lidarr.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.lidarr.2 }}
      - TZ={{ timezone }}
    volumes:
      - lidarr_config_vol:/config
      - /mainarray/media/music:/music #optional
      - /tank/mnemesync:/downloads #optional
    ports:
      - 8686:8686
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  lidarr_config_vol: