---
version: "2.1"
services:
  plex:
    image: localhost:5000/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
      - VERSION=docker
      #- PLEX_CLAIM={{ plex_claim }}
    volumes:
      - plex_config:/config
      - /mainarray/media/tv:/data/tvshows
      - /mainarray/media/movies:/data/movies
      - /mainarray/media/music:/data/music
      - /mainarray/media/musicvids:/data/musicvideos
      - plex_transcode:/transcode
    ports:
      - 32400:32400
    restart: unless-stopped
volumes:
  plex_config:
  plex_transcode:
    driver_opts:
      type: tmpfs
      device: tmpfs