---
version: "2.3"
services:
  davos:
    image: localhost:5000/davos:latest
    container_name: davos
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
    volumes:
      - davos_config:/config
      - {{ davos_download }}:/download
    ports:
      - 8086:8080
    restart: unless-stopped
volumes:
  davos_config