---
version: "2.3"
services:
  jackett:
    image: localhost:5000/jackett:latest
    container_name: jackett
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
      - AUTO_UPDATE=true #optional
    volumes:
      - jackett_config:/config
      - {{ torrent_blackhole }}:/downloads
    ports:
      - 9117:9117
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  jackett_config: