---
version: "2.1"
services:
  changedetection:
    image: localhost:5000/changedetection:latest
    container_name: changedetection
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone}}
    volumes:
      - changedetection_config:/config
    ports:
      - 5000:5000
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  changedetection_config: