---
version: "2.1"
services:
  changedetection:
    image: lscr.io/linuxserver/changedetection.io:latest
    container_name: changedetection
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.changedetection.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.changedetection.2 }}
      - TZ={{ timezone}}
    volumes:
      - changedetection_config:/config
    ports:
      - 5000:5000
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  changedetection_config: