---
version: "2.1"
services:
  ombi:
    image: lscr.io/linuxserver/ombi:latest
    container_name: ombi
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.ombi.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.ombi.2 }}
      - TZ={{ timezone }}
      - BASE_URL={{ ombi_url }} #optional
    volumes:
      - ombi:/config
    ports:
      - 3579:3579
    restart: unless-stopped
volumes:
  ombi_config: