---
version: "2.3"
services:
    librespeed:
        image: localhost:5000/librespeed
        container_name: librespeed
        environment:
          - PUID={{ PUID }}
          - PGID={{ PGID }}
          - TZ={{ timezone }}
        volumes:
          - ./librespeed/config:/config
        ports:
          - 8094:80
        labels:
          - "com.centurylinklabs.watchtower.enable=true"