---
version: "2.3"
services:
    librespeed:
        image: ghcr.io/linuxserver/librespeed
        container_name: librespeed
        environment:
          - PUID={{ service_ids.ansible_facts.getent_passwd.librespeed.1 }}
          - PGID={{ service_ids.ansible_facts.getent_passwd.librespeed.2 }}
          - TZ={{ timezone }}
        volumes:
          - ./librespeed/config:/config
        ports:
          - 8094:80
        labels:
          - "com.centurylinklabs.watchtower.enable=true"