---
version: "2.1"
services:
  pyload-ng:
    image: localhost:5000/pyload-ng
    container_name: pyload-ng
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - /path/to/appdata/config:/config
      - {{ pyload_downloads }}:/downloads
    ports:
      - 8000:8000
      - 9666:9666 #optional
    restart: unless-stopped
volumes:
  pyload_config: