---
version: "2.1"
services:
  wireguard:
    image: localhost:5000/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone}}
      - SERVERURL={{ wg_server_url }} #optional
      - SERVERPORT={{ wg_listen_port }} #optional
      - PEERS={{ num_wg_peers }} #optional
      - PEERDNS=auto #optional
      - INTERNAL_SUBNET={{ wg_internal_subnet }} #optional
      - ALLOWEDIPS=0.0.0.0/0 #optional
      - LOG_CONFS=true #optional
    volumes:
      - /path/to/appdata/config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped