---
version: "2.1"
services:
  budge:
    image: localhost:5000/linuxserver/budge:latest
    container_name: budge
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - budge_config:/config
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
volumes:
  budge_config: