---
version: "2.1"
services:
  smokeping:
    image: localhost:5000/smokeping
    container_name: smokeping
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - smokeping_config:/config
      - smokeping_data:/data
    ports:
      - 8083:80
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  smokeping_config:
  smokeping_data: