---
version: '2.3'
services:
  endlessh:
    image: lscr.io/linuxserver/endlessh
    container_name: endlessh
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.endlessh.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.endlessh.2 }}
      - TZ={{ timezone }}
      - MSDELAY=10000 #optional
      - MAXLINES=32 #optional
      - MAXCLIENTS=4096 #optional
      - LOGFILE=true #optional
      - BINDFAMILY= #optional
    volumes:
      - endlessh_config:/config #optional
    ports:
      - 22:2222
    runtime: "runsc"
    restart: unless-stopped
volumes:
  endlessh_config: