---
version: "2.3"
services:
  airsonic-advanced:
    image: localhost:5000/linuxserver/airsonic-advanced
    container_name: airsonic-advanced
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone}}
      #- CONTEXT_PATH=<URL_BASE> #optional
      #- JAVA_OPTS=<options> #optional
    volumes:
      - airsonic_config_vol:/config
      - /mainarray/media/music:/music
    ports:
      - 4040:4040
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    devices:
      - /dev/snd:/dev/snd #optional
volumes:
  airsonic_config_vol:
