---
version: '2.3'
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.sonarr.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.sonarr.2}}
      - TZ={{ timezone }}
    volumes:
      - sonarr_config:/config
      - /mainarray/media/tv:/tv #optional
      - /tank/mnemesync:/downloads #optional
    ports:
      - 8989:8989
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
volumes:
  sonarr_config