---
version: "2.3"
services:
  radarr:
    image: localhost:5000/radarr
    container_name: radarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - radarr_config_volume:/config
      - /mainarray/media/movies:/movies #optional
      - /tank/mnemesync:/downloads #optional
    ports:
      - 7878:7878
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  radarr_config_volume: