---
version: "2.3"
services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.radarr.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.radarr.2 }}
      - TZ={{ timezone }}
    volumes:
      - radarr_config_volume:/config
      - /mainarray/media/movies:/movies #optional
      - /tank/mnemesync:/downloads #optional
    ports:
      - 7878:7878
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  radarr_config_volume: