---
version: "2.1"
services:
  projectsend:
    image: localhost:5000/projectsend
    container_name: projectsend
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
      - MAX_UPLOAD=5000
    volumes:
      - projsend_config:/config
      -{{ projsend_data }}:/data
    ports:
      - 80:80
    restart: unless-stopped
volumes:
  projsend_config: