---
version: '2.3'
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID={{ admin_user_id }}
      - PGID={{ fileacess_gid }}
      - TZ={{ timezone }}
    volumes:
      - prowlarr_config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
volumes:
  prowlarr_config: