---
version: '2.3'
services:
  prowlarr:
    image: localhost:5000/prowlarr
    container_name: prowlarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - prowlarr_config:/config
    ports:
      - 9696:9696
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
  prowlarr_config: