version: "3"
services:
  mc:
    image: localhost:5000/minecraft-server
    ports:
      - 25565:25565
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      EULA: "TRUE"
    tty: true
    stdin_open: true
    restart: unless-stopped
    volumes:
      # attach a directory relative to the directory containing this compose file
      - mc_data:/data
volumes:
  mc_data: