---
version: "2.3"
services:
  searxng:
    image: localhost:5000/searxng
    container_name: searxng
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - BASE_URL=http://localhost:8080
      - INSTANCE_NAME=local-searx
    ports:
      - 8066:8080
    labels:
      - "com.centurylinklabs.watchtower.enable=true"