---
version: "2.3"
services:
  searxng:
    image: searxng/searxng
    container_name: searxng
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.searxng.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.searxng.2 }}
      - BASE_URL=http://localhost:8080
      - INSTANCE_NAME=local-searx
    ports:
      - 8066:8080
    labels:
      - "com.centurylinklabs.watchtower.enable=true"