---
version: "2.3"
services:
  jellyfin:
    image: localhost:5000/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - jellyfin_config_vol:/config
      - jellyfin_transcode_vol:/transcode
      - /mainarray/media/tv:/data/tvshows
      - /mainarray/media/movies:/data/movies
      - /mainarray/media/music:/data/music
      - /mainarray/media/musicvids:/data/musicvideos
    devices:
      - /dev/dri:/dev/dri
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: unless-stopped
volumes:
    jellyfin_config_vol:
    jellyfin_transcode_vol:
      driver_opts:
        type: tmpfs
        device: tmpfs