---
version: "2.1"
services:
  foldingathome:
    image: lscr.io/linuxserver/foldingathome:latest
    container_name: foldingathome
    cpus: 2
    environment:
      - PUID={{ service_ids.ansible_facts.getent_passwd.foldingathome.1 }}
      - PGID={{ service_ids.ansible_facts.getent_passwd.foldingathome.2 }}
      - TZ={{ timezone }}
    volumes:
      - fah_config:/config
    ports:
      - 7396:7396
      - 36330:36330 #optional
    restart: unless-stopped
volumes:
  fah_config: