---
version: "2.1"
services:
  foldingathome:
    image: localhost:5000/foldingathome:latest
    container_name: foldingathome
    cpus: 2
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ timezone }}
    volumes:
      - fah_config:/config
    ports:
      - 7396:7396
      - 36330:36330 #optional
    restart: unless-stopped
volumes:
  fah_config: